<%- include("header") -%>

    <h2>This is about page </h2>

    <p>asdkfjasld;kna;lsdnvalsdn;lnlkn'ibvoquwebvqwjelvqn;wdlnqwlnvlq'wnevlqwbev;kjqwbekjqbwv;ljwdnalsdnvakjsdbviahsbdv
    </p>


    <%- include("footer") -%>